<footer>
  <div class="main-footer">
    <div class="container-fluid py-4">
      <div class="row text-center py-4 gy-5 px-5">
        
        <div class="col-md-4">
          <div class="item">
            <h3 class="text-uppercase">Location</h3>
            <p>2215 John Daniel Drive <br> Clark, MO 65243</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="item">
            <h3 class="text-uppercase">Around The Web</h3>
            <ul class="icons list-unstyled d-flex justify-content-center align-items-center">
              <li class="mx-1"><i class="fa-brands fa-facebook"></i></li>
              <li class="mx-1"><i class="fa-brands fa-twitter"></i></li>
              <li class="mx-1"><i class="fa-brands fa-linkedin"></i></li>
              <li class="mx-1"><i class="fa-solid fa-globe"></i></li>
            </ul>
          </div>
        </div>

        <div class="col-md-4">
          <div class="item">
            <h3 class="text-uppercase">About Freelancer</h3>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="copyright text-center py-4">
    <p class="m-0">Copyright &copy; Mohamed Elshazly 2024</p>
  </div>

</footer>
