<section id="about" class="py-5 d-flex justify-content-center align-items-center">
  <div class="about-content">
    <app-page-title [pageTitle]="aboutTitle" [isDark]="false"></app-page-title>
    <div class="container">
      <div class="row text-start px-5">
        <div class="col-md-6 ps-md-5">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
        </div>
        <div class="col-md-6 pe-5">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
        </div>
      </div>
    </div>
  </div>
</section>
