.navbar {
  background-color: rgb(44,62,80);
}

a {
  color: inherit;
}

.nav-link:hover, .nav-link:focus {
  color: #fff;
}

.nav-link.active {
  background-color:#1abc9c;
  color: #fff;
  border-radius: 10px;
  width: fit-content;
}